
.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* share style */
.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
.btn-primary{
    background-color: #FD6E0A;
    padding: 18px 35px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    color: white;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-color: #FFF8F3;
    background-repeat: no-repeat;
    background-position: top left, right bottom;
}

/* Nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 250px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav ul a{
    text-decoration: none;  
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 50px 0 250px;
}
.banner-greeting{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
}
.banner-discription{
    font-size: 18px;
    font-weight: 400;
    color: #474747;
}
.banner-profile-pic{
    /* width: 400px; */
}
.about{
    text-align: center;
    background-color: #FFF8F3;
    margin: 150px 250px;
    padding: 100px 150px;
    border-radius: 10px;
}
.about-discribtion{
    font-size: 18px;
    font-weight: 400;
    color: #474747;
}
.about-info{
    display: flex;
    justify-content: space-around;
}
.about-info p{
    font-size: 20px;
}
.info{
    font-weight: bold;
}